*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    background-color: #388DC9;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h3{
    margin-left: 20px;
    color: white;
}

header button{
    margin-right: 20px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

main{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h3{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header_main a{
    margin-right: 40px;
    
}

.insert_box{
    border: 1px solid black;
    width: 15%;
    height: 200px;
}

.insert_box form{
    margin-top: 20px;
    text-align: center;
}