*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    background-color: #388DC9;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h3{
    margin-left: 20px;
    color: white;
}

header button{
    margin-right: 20px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

main h3{
    margin-left: 20px;
}

main h4{
    margin-left: 20px;
}

.header_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.header_main a{
    margin-right: 40px;
}

.insert_box{
    margin-left: 40px;
    border: 1px solid black;
    width: 230px;
    height: 130px;
    border-radius: 10px;
}

.insert_box form{
    margin-left: 10px;
}

.button_cadastrar{
    text-decoration: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
}